*{
    margin:0px;
}

nav a:visited, nav a:link {
    text-decoration: none;
}

nav{
    background-color: #9932cc;
    width: 100%;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav > ul {
    display: inline;
    padding: 0%;
    
}

nav > ul > li {
    display:inline-block;
    list-style: none;
    margin:0 5px 0 100px;
    padding: 20px;
  
}

div.pagina {height:100%; overflow:hidden;}

body, html {height:100%;}

body{
    background-image: url("Imagem/games.jpg");
    overflow: hidden;
}

table,
th,
td {
    border: 1px solid black;
    border-radius: 10px;
    vertical-align: middle;

}

th,
td {
    padding: 10px;
    color: #9932cc;
    font-weight: bolder;
    background-color: white;
    border-radius: 6px;

}

.corpo{
    width: 40%;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    background-color:#b864c0;
}

.tabelaLocal{
    width: 30%;
    height: 150px; 
    padding-right: 90px;

}

.tabelaAtual{
    width: 30%;
    height: 900px; 
    padding-left: 100px;    
}

.principal{
    display:flex;
}

.corpo button:hover, .MusicaTetris button:hover{
    background-color: #2ecc71;
}

.corpo button{
    border:0;
    background: none;
    display: block;
    margin: 10px;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.20s;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}

.MusicaTetris button{
    border:0;
    background: none;
    margin: 10px;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 20px;
    outline: none;
    color: white;
    border-radius: 15px;
    transition: 0.20s;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}

