*{
    margin:0px;
}

nav a:visited, nav a:link {
    text-decoration: none;
}

nav{
    background-color: #9932cc;
    width: 100%;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav > ul {
    display: inline;
    padding: 0%;
    
}

nav > ul > li {
    display:inline-block;
    list-style: none;
    margin:0 5px 0 5px;
    padding: 20px;
  
}

body{
    background-image: url("Imagem/games.jpg");
    overflow: hidden;
}

div.pagina {height:100%; overflow:hidden;}

body, html {height:100%;}

table,
th,
td {
    border: 2px solid white;
    border-radius: 10px;
    vertical-align: middle;

}

th,
td {
    padding: 10px;
    color: #9932cc;
    font-weight: bolder;
    background-color: white;
    border-radius: 6px;
}

.corpo{
    width: 40%;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    background-color: lightseagreen;
}
.tabelaLocal{
    width: 30%;
    height: 150px; 
    padding-right: 90px;

}

.tabelaAtual{
    width: 30%;
    height: 900px; 
    padding-left: 100px;    
}

.principal{
    display:flex;
}

table, th, td {
    border: 1px solid black;
  }
  
th, td {
    padding: 10px;
}




